@model EmployeeApp.ViewModels.EmployeesAssignToShiftViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@using (Html.BeginForm("Details", "Shifts"))
{
    <ul class="shifts">
        @foreach (var employee in Model.Employees)
        {
            <li>
                <div>
                    @employee.FullName
                </div>
            </li>
        }
    </ul>
}