@model IEnumerable<EmployeeApp.Models.Employees.Shift>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    @foreach (var shift in Model)
    {
        <li>
            <div>
                @shift.DateTime
            </div>
            <div>
                @shift.Department.Name
            </div>
            <div>
                @shift.ShiftType.Name
            </div>
            <div>
                @Html.ActionLink("Assign Employees","AssignEmployeesToShift", new { Id = shift.Id})
            </div>
        </li>
    }
</ul>