@model IEnumerable<EmployeeApp.Models.ShiftAssign>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul class="gigs">
    @foreach (var shiftAssign in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @shiftAssign.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @shiftAssign.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @*@shiftAssign.Shift.DayShift*@
                </span>
                <button class="btn btn-default btn-sm">Submit</button>@*dinw mia classjs-toggle-attendace*@
            </div>
        </li>
    }
</ul>